<div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input class="form-control" type="text" name="search" [(ngModel)]="searchById" autocomplete="off"
        placeholder="Type an ID">
</div>
<div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input class="form-control" type="text" name="search" [(ngModel)]="searchByName" autocomplete="off"
        placeholder="Type a name">
</div>
<div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input class="form-control" type="text" name="search" [(ngModel)]="searchByGroupId" autocomplete="off"
        placeholder="Type a group ID">
</div>

<div class="card my-5">
    <div class="card-body">
        <table mdbTable class="z-depth-1">
            <thead class="thead-dark">
                <tr>
                    <th [mdbTableSort]="users" sortBy="id">ID</th>
                    <th [mdbTableSort]="users" sortBy="name">Name</th>
                    <th [mdbTableSort]="users" sortBy="groupId" (click)="updateUsersListGroupByGroupId()">Group ID</th>
                    <th scope="col">x</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users | userSearch: searchById:searchByName:searchByGroupId">
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.name }}</td>
                    <td>{{ user.groupId }}</td>
                    <td><button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>